In [1]:
import pandas as pd
import numpy as np
import pickle

In [2]:
with open('complete_data_join.pkl', 'rb') as f:
    df = pickle.load(f)

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 28368 entries, 0 to 28367
Data columns (total 46 columns):
ticket_number                28368 non-null int64
issue_date                   28368 non-null object
issue_time                   28364 non-null float64
meter_id                     6148 non-null object
marked_time                  731 non-null float64
rp_state_plate               28368 non-null object
plate_expiry_date            25704 non-null float64
vin                          0 non-null float64
make                         28356 non-null object
body_style                   28358 non-null object
color                        28367 non-null object
location                     28368 non-null object
route                        28299 non-null object
agency                       28368 non-null float64
violation_code               28368 non-null object
violation_description        28366 non-null object
fine_amount                  28358 non-null float64
latitude                     28368 non-null float64
longitude                    28368 non-null float64
date                         28368 non-null datetime64[ns]
weekday_name                 28368 non-null object
weekday                      28368 non-null int64
address                      28368 non-null object
lat_long_list                28368 non-null object
lat_google                   28368 non-null float64
long_google                  28368 non-null float64
neighborhood                 28368 non-null object
zipcode                      28368 non-null int64
population                   28368 non-null int64
population_density           28170 non-null float64
housing_units                28368 non-null int64
occupied_housing             28368 non-null int64
median_home_value            27969 non-null float64
median_household_income      27969 non-null float64
city_name                    28368 non-null object
emp_flag                     5 non-null object
employment_noiseflag         28368 non-null object
cbp_employees                28368 non-null int64
q1_noiseflag                 28368 non-null object
q1_payroll_thousands         28368 non-null int64
annual_payroll_noiseflag     28368 non-null object
annual_payroll_thousands     28368 non-null int64
cbp_number_establishments    28368 non-null int64
city                         28368 non-null object
state                        28368 non-null object
city_name                    28368 non-null object
dtypes: datetime64[ns](1), float64(13), int64(10), object(22)
memory usage: 10.2+ MB

In [4]:
df = df.drop(['issue_date', 'meter_id', 'marked_time', 'marked_time','rp_state_plate'
         ,'plate_expiry_date','vin','body_style','location','route','agency','latitude','longitude'
         ,'population_density','city_name','emp_flag','employment_noiseflag','q1_noiseflag'
         ,'annual_payroll_noiseflag','city','state'], axis=1)

In [6]:
df.shape

(28368, 25)

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 28368 entries, 0 to 28367
Data columns (total 25 columns):
ticket_number                28368 non-null int64
issue_time                   28364 non-null float64
make                         28356 non-null object
color                        28367 non-null object
violation_code               28368 non-null object
violation_description        28366 non-null object
fine_amount                  28358 non-null float64
date                         28368 non-null datetime64[ns]
weekday_name                 28368 non-null object
weekday                      28368 non-null int64
address                      28368 non-null object
lat_long_list                28368 non-null object
lat_google                   28368 non-null float64
long_google                  28368 non-null float64
neighborhood                 28368 non-null object
zipcode                      28368 non-null int64
population                   28368 non-null int64
housing_units                28368 non-null int64
occupied_housing             28368 non-null int64
median_home_value            27969 non-null float64
median_household_income      27969 non-null float64
cbp_employees                28368 non-null int64
q1_payroll_thousands         28368 non-null int64
annual_payroll_thousands     28368 non-null int64
cbp_number_establishments    28368 non-null int64
dtypes: datetime64[ns](1), float64(6), int64(10), object(8)
memory usage: 5.6+ MB

In [7]:
# - groupby zipcode, day of week, count ticket_number

df_group = df.groupby(['zipcode','weekday_name','population','housing_units'
                       ,'occupied_housing','median_home_value','median_household_income','cbp_employees',
                       'q1_payroll_thousands','annual_payroll_thousands','cbp_number_establishments'])['ticket_number'].count().reset_index()

In [8]:
df_group

,zipcode,weekday_name,population,housing_units,occupied_housing,median_home_value,median_household_income,cbp_employees,q1_payroll_thousands,annual_payroll_thousands,cbp_number_establishments,ticket_number
0,90001,Friday,57110,13788,12971,249600.0,35097.0,10528,110019,574049,586,16
1,90001,Monday,57110,13788,12971,249600.0,35097.0,10528,110019,574049,586,12
2,90001,Saturday,57110,13788,12971,249600.0,35097.0,10528,110019,574049,586,2
3,90001,Sunday,57110,13788,12971,249600.0,35097.0,10528,110019,574049,586,10
4,90001,Thursday,57110,13788,12971,249600.0,35097.0,10528,110019,574049,586,27
5,90001,Tuesday,57110,13788,12971,249600.0,35097.0,10528,110019,574049,586,18
6,90001,Wednesday,57110,13788,12971,249600.0,35097.0,10528,110019,574049,586,12
7,90002,Friday,51223,12598,11731,216100.0,31258.0,1536,13117,55860,171,14
8,90002,Monday,51223,12598,11731,216100.0,31258.0,1536,13117,55860,171,2
9,90002,Saturday,51223,12598,11731,216100.0,31258.0,1536,13117,55860,171,6
10,90002,Sunday,51223,12598,11731,216100.0,31258.0,1536,13117,55860,171,16
11,90002,Thursday,51223,12598,11731,216100.0,31258.0,1536,13117,55860,171,47
12,90002,Tuesday,51223,12598,11731,216100.0,31258.0,1536,13117,55860,171,12
13,90002,Wednesday,51223,12598,11731,216100.0,31258.0,1536,13117,55860,171,60
14,90003,Friday,66266,17127,15642,231700.0,29686.0,6088,51129,216584,429,30
15,90003,Monday,66266,17127,15642,231700.0,29686.0,6088,51129,216584,429,8
16,90003,Saturday,66266,17127,15642,231700.0,29686.0,6088,51129,216584,429,3
17,90003,Sunday,66266,17127,15642,231700.0,29686.0,6088,51129,216584,429,34
18,90003,Thursday,66266,17127,15642,231700.0,29686.0,6088,51129,216584,429,27
19,90003,Tuesday,66266,17127,15642,231700.0,29686.0,6088,51129,216584,429,110
20,90003,Wednesday,66266,17127,15642,231700.0,29686.0,6088,51129,216584,429,25
21,90004,Friday,62180,24278,22547,776300.0,37976.0,8429,82158,365390,1147,99
22,90004,Monday,62180,24278,22547,776300.0,37976.0,8429,82158,365390,1147,14
23,90004,Saturday,62180,24278,22547,776300.0,37976.0,8429,82158,365390,1147,5
24,90004,Sunday,62180,24278,22547,776300.0,37976.0,8429,82158,365390,1147,13
25,90004,Thursday,62180,24278,22547,776300.0,37976.0,8429,82158,365390,1147,44
26,90004,Tuesday,62180,24278,22547,776300.0,37976.0,8429,82158,365390,1147,122
27,90004,Wednesday,62180,24278,22547,776300.0,37976.0,8429,82158,365390,1147,110
28,90005,Friday,37681,16345,15044,633600.0,31893.0,6224,49749,214256,718,20
29,90005,Monday,37681,16345,15044,633600.0,31893.0,6224,49749,214256,718,17
...,...,...,...,...,...,...,...,...,...,...,...,...
818,91606,Sunday,44958,15676,14903,363400.0,42521.0,7025,52852,221221,685,17
819,91606,Thursday,44958,15676,14903,363400.0,42521.0,7025,52852,221221,685,76
820,91606,Tuesday,44958,15676,14903,363400.0,42521.0,7025,52852,221221,685,38
821,91606,Wednesday,44958,15676,14903,363400.0,42521.0,7025,52852,221221,685,84
822,91607,Friday,27927,13841,12859,594100.0,56635.0,5646,50408,246918,793,66
823,91607,Monday,27927,13841,12859,594100.0,56635.0,5646,50408,246918,793,5
824,91607,Saturday,27927,13841,12859,594100.0,56635.0,5646,50408,246918,793,6
825,91607,Sunday,27927,13841,12859,594100.0,56635.0,5646,50408,246918,793,2
826,91607,Thursday,27927,13841,12859,594100.0,56635.0,5646,50408,246918,793,77
827,91607,Tuesday,27927,13841,12859,594100.0,56635.0,5646,50408,246918,793,27
828,91607,Wednesday,27927,13841,12859,594100.0,56635.0,5646,50408,246918,793,34
829,91766,Thursday,71599,18629,17708,255600.0,49725.0,12983,154905,660965,874,1
830,91767,Tuesday,48068,14520,13691,253800.0,49881.0,11946,152105,613133,802,1
831,91801,Friday,52735,20521,19315,468500.0,53027.0,13360,114735,481874,1382,1
832,91801,Saturday,52735,20521,19315,468500.0,53027.0,13360,114735,481874,1382,1
833,91801,Sunday,52735,20521,19315,468500.0,53027.0,13360,114735,481874,1382,1
834,91803,Friday,30322,10385,9894,491000.0,55659.0,7885,77180,313558,781,2
835,91803,Monday,30322,10385,9894,491000.0,55659.0,7885,77180,313558,781,2
836,91803,Sunday,30322,10385,9894,491000.0,55659.0,7885,77180,313558,781,4
837,91803,Tuesday,30322,10385,9894,491000.0,55659.0,7885,77180,313558,781,2
838,91803,Wednesday,30322,10385,9894,491000.0,55659.0,7885,77180,313558,781,1
839,92626,Saturday,49341,19641,18535,601000.0,77127.0,64648,977664,3878277,3079,1
840,93534,Friday,39341,16066,14038,131800.0,35892.0,30190,246578,1066784,1235,1
841,93534,Monday,39341,16066,14038,131800.0,35892.0,30190,246578,1066784,1235,1
842,93534,Thursday,39341,16066,14038,131800.0,35892.0,30190,246578,1066784,1235,1
843,93534,Wednesday,39341,16066,14038,131800.0,35892.0,30190,246578,1066784,1235,1
844,93550,Tuesday,74929,22961,20864,137200.0,38316.0,11031,149945,599524,745,2
845,93551,Thursday,50798,17144,15963,243400.0,80663.0,12655,85053,368206,894,2
846,94612,Friday,14389,8921,7968,358800.0,26054.0,38080,902405,3472320,1810,6
847,94612,Sunday,14389,8921,7968,358800.0,26054.0,38080,902405,3472320,1810,8

In [20]:
df_group.rename(columns={"ticket_number": "ticket_count"}, inplace=True)

In [22]:
df_group.head()

,zipcode,weekday_name,population,housing_units,occupied_housing,median_home_value,median_household_income,cbp_employees,q1_payroll_thousands,annual_payroll_thousands,cbp_number_establishments,ticket_count
0,90001,Friday,57110,13788,12971,249600.0,35097.0,10528,110019,574049,586,16
1,90001,Monday,57110,13788,12971,249600.0,35097.0,10528,110019,574049,586,12
2,90001,Saturday,57110,13788,12971,249600.0,35097.0,10528,110019,574049,586,2
3,90001,Sunday,57110,13788,12971,249600.0,35097.0,10528,110019,574049,586,10
4,90001,Thursday,57110,13788,12971,249600.0,35097.0,10528,110019,574049,586,27

In [9]:
df_group_dummy = df_group

In [10]:
dummy_zip = pd.get_dummies(df_group_dummy['zipcode'])

In [12]:
dummy_zip.head()

,90001,90002,90003,90004,90005,90006,90007,90008,90010,90011,...,91607,91766,91767,91801,91803,92626,93534,93550,93551,94612
0,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [13]:
dummy_weekday = pd.get_dummies(df_group_dummy['weekday_name'])

In [14]:
dummy_weekday.head()

   Friday  Monday  Saturday  Sunday  Thursday  Tuesday  Wednesday
0       1       0         0       0         0        0          0
1       0       1         0       0         0        0          0
2       0       0         1       0         0        0          0
3       0       0         0       1         0        0          0
4       0       0         0       0         1        0          0

In [17]:
df_group_1 = df_group

In [20]:
df_group_1_week = df_group_1.merge(dummy_weekday, left_index=True,right_index=True)

In [24]:
df_group_1_week_zip = df_group_1_week.merge(dummy_zip, left_index=True,right_index=True)

In [27]:
df_group_1_week_zip.shape

(848, 184)

In [28]:
with open('data_with_dummies.pkl', 'wb') as f:
    pickle.dump(df_group_1_week_zip, f)

In [29]:
with open('data_no_dummies.pkl', 'wb') as f:
    pickle.dump(df_group, f)